{{ receiver }} 様
{%- for cc_receiver in cc_receivers %}
cc. {{ cc_receiver }} さん
{%- endfor %}

こんにちは、cvpaper.challenge HQの{{ sender }}です。
今回、cvpaper.challenge で下記のようなアドベントカレンダー（通称アドカレ）企画を進めており、12月1日〜25日の記事公開を目指しています。

【タイトル】
研究コミュニティ cvpaper.challenge 2022 〜CV分野の今を映し、トレンドを作り出す〜

【概要】
2022年のAdvent Calendarでは、コンピュータビジョン分野の研究コミュニティ cvpaper.challenge （http://xpaperchallenge.org/cv/）の研究者をクローズアップします。普段、研究者は何を考えて研究しているのか？どんなスタイルで研究を進めているのか？研究コミュニティにはどのような方が所属していていて、どのように運営されているのか？など、今回は研究者や研究コミュニティについてさらに知って頂きたいと思っております。研究者の紹介はもちろん、具体的な研究内容、研究効率化Tips、所属研究室について、論文を通すまでのストーリーなどを紹介していきます。

主旨説明は上記【概要】で変えさせて頂きたいのですが、さらに{{ receiver }}さんには、
{{ expected_content }}
あたりを書いて頂きたいと思っております。

また、分量や雰囲気などは2021のアドベントカレンダーをご確認ください。
https://adventar.org/calendars/6148

まずは記事投稿の可否と執筆時期のご希望を下記登録フォームに従いお知らせ頂けないでしょうか？執筆時期については、多少は内容チェックをしたいので、目安として記事発行の3日前までには初稿を頂きたいと存じます。
よろしくお願い致します。

ーーーーーーーーーーーーーーーー登録フォームーーーーーーーーーーー
ご氏名： 〇〇〇〇
執筆： できる / できない　#どちらかを残してください
執筆時期：
  12/1〜12/8（初稿提出目安 11/28〜12/25）、
  12/9〜12/16（初稿提出目安 12/6〜12/13）、
  12/17〜12/25（初稿提出目安 12/14〜12/22）
  # 時期的に困難なものを除外してください
掲載ページ： 個人ブログ / cvpaper.challenge note (https://note.com/cvpaperchallenge) #どちらかを残してください
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー